<div *ngIf=(this.submitted) id="overall">
  <!-- to do: animate button entrances? can do -->
  <div class="buttons" [@fadeIn]="fadeState" (@fadeIn.done)="endFade()" [ngClass]="{'opaque': unOpaque}">
    <button class="standard-button hvr-bounce-in" (click)="prepare1()">Sharp</button>
    <br>
    <button class="standard-button hvr-bounce-in" (click)="prepare2()">Blurry</button>
    <br>
    <button class="standard-button hvr-bounce-in bot-marg" (click)="prepare3()">Dirty</button>
  </div>

  <div class="header text-center marg-top display-3" [@bounceInDown]="bounceState" (@bounceInDown.done)="endBounce()">
    Please select the quality of your image below.
  </div>
  <!-- i'll deal with your meme ass later -->
  <div class="main">
    <canvas id="GRORORO">
    </canvas>
  </div>
</div>

<app-main></app-main>
