<div *ngIf=(CheckMove()) id="overall">
  <!-- to do: animate button entrances? can do -->
  <div class="buttons">
    <button class="standard-button hvr-bounce-in" (click)="RUNMMM()">Sharp</button>
    <br>
    <button class="standard-button hvr-bounce-in">Blurry</button>
    <br>
    <button class="standard-button hvr-bounce-in bot-marg">Dirty</button>
  </div>

  <div class="header text-center marg-top display-4">
    Please select the quality of your image below.
  </div>
  <!-- i'll deal with your meme ass later -->
  <div class="main img-wrapper">
    <img src={{file.dataURL}}>


    <canvas id="GRORORO" (appOnCreate)="RUNMMM()" width="500" height="500">

    </canvas>

    hello world???
  </div>
</div>
